.updates-dbcomponent-title {
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  color: #E6C200;
}

.updates-dbcomponent-div-input-textbox {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.updates-dbcomponent-input-text-to-filter-updates {
  height: 3.5rem;
  width: 30rem;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 0 1rem;
}

.updates-dbcomponent-div-input-textbox button {
  font-size: 1.4rem;
  padding: 0.8rem 1.5rem;
  background-color: #E6C200;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
}

.updates-dbcomponent-div-father {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  align-items: center;
  padding-bottom: 4rem;
}

.updates-dbcomponent-link-div {
  text-decoration: none;
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}


.updates-dbcomponent-div {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #0050A3, #5a248c, #1B1D36);
  border-radius: 20px;
  border: 2px solid #4a4646;
  padding: 2rem;
  width: 80vw;
  height: fit-content;
  gap: 2rem;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.updates-dbcomponent-div:hover {
  transform: scale(1.015);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.updates-dbcomponent-div-update-img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updates-dbcomponent-img {
  width: 100%;
  border-radius: 12px;
  border: 2px solid #dfd4d4;
  box-shadow: 0 4px 8px rgb(227, 222, 222);
}

.updates-dbcomponent-div-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.updates-dbcomponent-div-name-update h3,
.updates-dbcomponent-div-update-version h4 {
  margin: 0;
  font-size: 1.6rem;
}

.updates-dbcomponent-div-short-desciption p,
.updates-dbcomponent-div-date-version p {
  font-size: 1.2rem;
}

.admin-mode-div {
  position: sticky;
  top: 0;
  margin: 1rem;
}

.admin-mode-button a {
  padding: 0.5rem 1.5rem;
  background-color: #E6C200;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}

/* Tablet */
@media (max-width: 1023px) {
  .updates-dbcomponent-div {
    flex-direction: column;
    align-items: center;
  }

  .updates-dbcomponent-div-update-img,
  .updates-dbcomponent-div-info {
    width: 100%;
  }

  .updates-dbcomponent-div-info {
    align-items: center;
    text-align: center;
  }

  .updates-dbcomponent-input-text-to-filter-updates {
    width: 90%;
  }
}

/* Móvil */
@media (max-width: 767px) {
  .updates-dbcomponent-title {
    font-size: 2.5rem;
  }

  .updates-dbcomponent-div-name-update h3,
  .updates-dbcomponent-div-update-version h4 {
    font-size: 1.4rem;
  }

  .updates-dbcomponent-div-short-desciption p,
  .updates-dbcomponent-div-date-version p {
    font-size: 1.1rem;
  }

  .updates-dbcomponent-div {
    padding: 1.5rem;
  }
}