@font-face {
    font-family: 'HonkaiStyle';
    src: url('../assets/Fonts/EurostileExtendedBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.history_navegation_menu {
    background-color: #1B1D36;
    color: white;
    font-weight: bold;
    font-family: 'HonkaiStyle', sans-serif;
    height: 100vh;
    width: 100%;
    background-image: url(../../../public/img/history_image_header.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.history_navegation_menu a {
    color: white;
    text-decoration: none;
    font-family: 'HonkaiStyle', sans-serif;
}

.history_navegation_menu div {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
}

.history_logo img {
    position: relative;
    width: 45%;
    height: 50%;
}

.history_father_navegation_menu {
    position: relative;
    top: 5%;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    align-items: center;
    font-size: 20px;
}



/* 📌 Pantallas medianas (Tablets) */

@media (max-width: 1023px) and (min-width: 768px) {
    .history_navegation_menu {
        height: 100vh;
        background-size: cover;
        background-position: center;
    }


    .history_father_navegation_menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

  

    .history_logo img {
        width: 100%;
        height: 100%;
    }
}

/* 📌 Pantallas pequeñas (Móviles) */
@media (max-width: 767px) {
    .history_navegation_menu {

        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .history_father_navegation_menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        font-size: 14px;
    }

    .history_navegation_menu a {
        font-size: 1em;
        padding: 10px;
    }

    .history_logo img {
        width: 50%;
        height: 40%;
    }

    .history_gachapon_menu {
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: rgba(192, 192, 192, 0.4) !important;

    }

    .history_gameplay_menu {
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: rgba(192, 192, 192, 0.4);

    }

    .history_character_menu {
      width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: rgba(192, 192, 192, 0.4);

    }

    .history_menu {
      width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: rgba(192, 192, 192, 0.4);
    }
}