@font-face {
    font-family: 'HonkaiStyle';
    src: url('/src/assets/fonts/NombreDeLaFuente.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.trailer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.trailer-text {
    max-width: 40%;
    color: #692020;
    
    text-align: center;
}

.trailer-text h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: #E6C200;

    width: 100%;
}

.trailer-text p {
    font-size: 1.4rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.video-container {
    text-align: center;
    position: relative;
    padding: 15px;
    width: fit-content;
    background: #282749;
    border-radius: 15px;
    box-shadow: 0 0 15px #C0C0C0;
}

.video-container iframe{

    width: 35vw;
    height: 40vh;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .trailer-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    .div_button{

        visibility: hidden;
        height: 0px;    
    }

    .trailer-text {

        max-width: 100%;

    }

    .video-container iframe {

        width: 80vw;
        height: 50vh;
    }
        .trailer-text h2 {

            font-size: 2rem;
        }

        #trailer_text_p {
        
            margin-top: 10%;

            margin-bottom: 8%;

            font-size: 2.5em;

        }
}

@media (max-width: 767px) {
    .trailer-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
    }

    .trailer-text {
        max-width: 90%;
        margin: 0 auto;
    }

    .video-container {

        width: fit-content;
    }

    .video-container iframe {
        width: 80vw;
        height: 38vh;
    }
    .trailer-text h2 {

        font-size: 2.5rem;
    }

    .div_button{

        visibility: hidden;
    }
          
            #trailer_text_p {

                padding-top: 5%;
                font-size: 1.6rem;
            }    
}

