.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* Centra las tarjetas */
  align-items: center;
  font-size: large;
  background-color: #1B1D36;
  gap: 80px;
  padding: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.card {
  position: relative;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  width: 22rem; 
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  height: 170px;
}

.card-title {
  font-size: 23px;
  font-weight: bold;
  margin: 10px;
  color: #E6C200;
}

.card-text {
  width: 100%;
  word-wrap: break-word; /* Hace que el texto baje en vez de seguir a la derecha */
  text-align: center;
  font-size: 1.15rem;
  color: #FFFF;
  padding: 15px;
  line-height: 1.5; 
}

@media (max-width: 1023px) and (min-width: 768px) {
  .container-cards {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .card {
    width: 90vw ;  
    height: fit-content; 
  }

  .card:hover{

    transform: scale(1);
    
  }
  .card-title {
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 2.3em;
  }

  .card img {
    width: 80%;
    height: auto;
  }

  .card-text {
    width: 80%;
    font-size: 2.3em;
    text-align: center;
    line-height: 1.6;
  }
}

@media (max-width: 767px) {
  .container-cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10%;
  }

  .card {

    width: 85vw ; 
    height: fit-content;
    padding: 20px;

    
  }

  .card:hover{
    transform: scale(1);


  }
  .card-title {
    font-size: 2em;
  }

  .card-text {
    width: 95%;
    font-size: 1.45em;
    text-align: center;
    line-height: 1;
  }
  .card img {
  
  height: 80%;
  }
}
