.updates-dbcomponent-div-crud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}

.updates-dbcomponent-div-crud img {
  width: 6rem;
  height: 6rem;
  transition: transform 0.2s ease;
}

.updates-dbcomponent-div-crud img:hover {
  transform: scale(1.1);
}

.add-new-updates-div {
  margin-top: 3rem;
  text-align: center;
}

.add-new-updates-div h2 {
  color: #E6C200;
  margin-bottom: 1rem;
}

.add-new-updates-div img {
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease;
}

.add-new-updates-div img:hover {
  transform: scale(1.1);
}
.updates-dbcomponent-div-crud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}

.updates-dbcomponent-div-crud img {
  width: 6rem;
  height: 6rem;
  transition: transform 0.2s ease;
}

.updates-dbcomponent-div-crud img:hover {
  transform: scale(1.1);
}

.add-new-updates-div {
  margin-top: 3rem;
  text-align: center;
}

.add-new-updates-div h2 {
  color: #E6C200;
  margin-bottom: 1rem;
}

.add-new-updates-div img {
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease;
}

.add-new-updates-div img:hover {
  transform: scale(1.1);
}

.user-mode-div {
  position: sticky;
  top: 0;
  margin: 1rem;
}

.user-mode-button a {
  padding: 0.5rem 1.5rem;
  background-color: #E6C200;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}


@media (max-width: 1023px) {
  .updates-dbcomponent-div {
    flex-direction: column;
    align-items: center;
  }
  .updates-dbcomponent-div-crud {
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 0;
  }

  .updates-dbcomponent-div-crud img{
  
  height: 4rem;
  width: 4rem;
  
  }

  .updates-dbcomponent-div-update-img{

    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  .updates-dbcomponent-div-update-img,
  .updates-dbcomponent-div-info {
    width: 100%;
  }

  .updates-dbcomponent-div-info {
    align-items: center;
    text-align: center;
  }

  .updates-dbcomponent-input-text-to-filter-updates {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .updates-dbcomponent-title {
    font-size: 2.5rem;
  }

  .updates-dbcomponent-div-name-update h3,
  .updates-dbcomponent-div-update-version h4 {
    font-size: 1.4rem;
  }

  .updates-dbcomponent-div-short-desciption p,
  .updates-dbcomponent-div-date-version p {
    font-size: 1.1rem;
  }

  .updates-dbcomponent-div {
    padding: 1.5rem;
  }
}