@font-face {
  font-family: 'HonkaiStyle';
  src: url('../assets/Fonts/EurostileExtendedBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Character_cards_title_div {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  color: #E6C200;
  font-size: 1.7rem;
}

.Character_cards_father_div {
  padding: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
  background-color: rgba(27, 29, 54, 1);
}

.Character_card {
  background-color: rgba(27, 29, 54, 0.5);
  width: 15vw;
  min-width: 300px;
  max-width: 450px;
  height: 55vh;
  min-height: 350px;
  border-radius: 10px;
  text-align: center;
  perspective: 1000px;
  border: 2px solid transparent;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.Character_card:hover {
  border: 2px solid #E6C200;
  box-shadow: 0px 0px 15px rgba(230, 194, 0, 0.75);
}

.Character_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.Character_card:hover .Character_card_inner {
  transform: rotateY(180deg);
}

.Character_card_front,
.Character_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.Character_card_front img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Character_card_back {
  background-color: rgba(192, 192, 192, 0.4);
  color: #E6C200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'HonkaiStyle', sans-serif;
  transform: rotateY(180deg);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.Character_card_back h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.Character_card_back p {
  font-size: 1rem;
  margin: 0.3rem 0;
}

/* Tablet */
@media (max-width: 1023px) {
  .Character_card {
    width: 40vw;
    height: 50vh;
  }

  .Character_card_back {
    font-size: 1.5rem;
  }
}

/* Móvil */
@media (max-width: 767px) {
  .Character_cards_father_div {
    flex-direction: column;
    align-items: center;
  }

  .Character_card {
    width: 80vw;
    height: 60vh;
  }

  .Character_card_back {
    font-size: 1.2rem;
  }

  .Character_card_back h3 {
    font-size: 1.4rem;
  }

  .Character_card_back p {
    font-size: 1.1rem;
  }
}
