@font-face {
    font-family: 'HonkaiStyle';
    src: url('../assets/Fonts/EurostileExtendedBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .navegation_menu {
    background-color: #1B1D36;
    color: white;
    font-family: 'HonkaiStyle', sans-serif;
    background-image: url(../../../public/img/Honkai_Train_GIF.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 1rem;
    position: relative;
  }
  
  .father_navegation_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(1rem, 2.5vw, 2rem);
    flex-wrap: nowrap;
  }
  
  .father_navegation_menu div {
    text-align: center;
    flex: 1;
  }
  
  .navegation_menu a {
    color: white;
    text-decoration: none;
    font-size: inherit;
  }
  
  .Logo img {
    width: 10rem;
    height: auto;
  }
  
  .hamburger_icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    z-index: 999;
  }
  
  .hamburger_icon span {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .hamburger_icon {
      display: flex;
    }
  
    .navegation_menu { 

        height: 5rem;
}
    .father_navegation_menu {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(27, 29, 54, 0.9);
      height: 100vh;
      width: 100%;
      transform: translateY(-100%);
      transition: transform 0.3s ease;
      z-index: 998;
      padding-top: 6rem;
      font-size: 1.3rem;
    }
  
    .father_navegation_menu.open {
      transform: translateY(0);
    }
  
    .father_navegation_menu div {
      margin: 1.5rem 0;
    }
  
    .Logo img {
      width: 50%;
    }
  }
  